/** *****************************************************/
/** Fonts */
/* 
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'PT Serif', serif;
	font-family: 'PT Sans', sans-serif; 
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:700|PT+Serif);

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/** *****************************************************/
/******  Basic styling */
/**  */
.carousel-items a {
	-webkit-transition: all 1s cubic-bezier(0, 1.99, 0.9,-0.29);
	        transition: all 1s cubic-bezier(0, 1.99, 0.9,-0.29);
}

.carousel-items a, .overlay {
	position  : fixed;
	top       : 0;
	bottom    : 0;
	left      : 0;
	right     : 0;
}

.carousel-items a:hover {
	cursor: default;
}

.item-1 {
	background: url("img/img1.jpg") no-repeat center center fixed;
}

.item-2 {
	background: url("img/img2.jpg") no-repeat center center fixed;
}

.item-3 {
	background: url("img/img3.jpg") no-repeat center center fixed;
}

.item-1, .item-2, .item-3 {
	background-size: cover;
	opacity        : 0;
}




/** *****************************************************/
/******  The magic of carousel */
/**  */
[id^="target-item"] {
	display: none;
}

/** Item1 should be there when the page is fully loaded */
.item-1 {
	/** This z-index will make the browser trigger the first anchor "a.item-1", because now nothing is higher than .item-1 */
	z-index: 1;
	opacity: 1;
}

/** when we start using Target links we need to display only what is choosen by the end user, so first hide item-1 */
*:target ~ .item-1 {
	opacity: 0;
}

#target-item-1:target ~ .item-1,
#target-item-2:target ~ .item-2,
#target-item-3:target ~ .item-3 {
	opacity: 1;

	/** we can use 2 instead of 100 but it adds a slightly cool effect with the transition property */
	z-index: 2;
}



/** *****************************************************/
/******  The Leading layer */
/**  */
.leadingPage {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	z-index: 3;
	text-align: center;
}

.leadingPage h1 span {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	background-color: #F9E9D6;
	color: #3F9388;
	padding: 0% 3%;
	margin-bottom: 2%;
}

.leadingPage label {
	font-family: 'PT Serif', serif;
	font-size: 4em;
	background-color: #3F9388;
	color: #F9E9D6;
	padding: 1.5% 4%;
	position: absolute;
	left: 50%;
	bottom: -25%;
	-webkit-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	
}

.leadingPage label:hover {
	background-color: #F9E9D6;
	color: #3F9388;
	left: 50%;
	bottom: -35%;
}

.leadingPage label:hover + h1 span {
	background-color: #3F9388;
	color: #F9E9D6;
}

.leadingPage h1 span, .leadingPage label {
	text-align: center;
	text-transform: uppercase;
	white-space:nowrap;
	display: inline-block;
	-webkit-transition: all 0.6s cubic-bezier(0.44, -0.45, 0, 1.03);
	        transition: all 0.6s cubic-bezier(0.44, -0.45, 0, 1.03);
}

@media all and (max-width: 520px), (orientation: portrait) {
	.leadingPage h1 span {
		font-size: 1.2em;
	}

	.leadingPage label:hover {
		left: 50%;
		bottom: -45%;
	}
}



/** *****************************************************/
/******  The overlay layer */
/**  */
#overlayPop {
	display: none;
}

.overlay {
	background-color: #F9E9D6;

	/** it's already covered by carousel items, but when we switch the items it apper */
	z-index: -1;

	/** Indeed we need to use only opacity, if so we need to sacrifice all our other page ontrols */
	opacity: 0;
	-webkit-transform: scale(0.5);
	        -ms-transform: scale(0.5);
	    transform: scale(0.5);
	-webkit-transition: all 1s cubic-bezier(0, 1.64, 0, 0.69) 0s;
	        transition: all 1s cubic-bezier(0, 1.64, 0, 0.69) 0s;
}

#overlayPop:checked ~ .overlay {
	z-index: 4;
	opacity: 0.95;
	-webkit-transform: scale(1);
	        -ms-transform: scale(1);
	    transform: scale(1);
}

.overlay #exit {
	display: block;
	height: 100%;
}

.overlay .subscribe {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	background-color: white;
	padding: 4% 2%;
	width: 100%;
}

#exitIC {
	display: none;
}

.subscribe h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 0.3em;
}

.subscribe h3 {
	font-family: 'PT Serif', serif;
	font-size: 1.2em;
	margin: 0;
	opacity: 0.8;
}

.subscribe h1, .subscribe h3 {
	color: #3F9388;
}

.subscribe p {
	font-family: 'PT Sans', sans-serif;
	opacity: 0.5;
	margin-bottom: 6em;
}

.formBG {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3F9388;
	text-align: center;
	padding: 2% 0;
}

.subscribe input {
	width: 65%;
	padding: 0 2%;
	background-color: #fff;
	margin-right: 2%;
}

.subscribe button {
	width: 26%;
	text-transform: uppercase;
	background-color: #F9E9D6;
	color: #3F9388;
	opacity: 0.9;
}

.subscribe input, .subscribe button {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	letter-spacing: 0.05em;
	outline: none;
	border: none;
	height: 3em;
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}

.subscribe input:hover {
	-webkit-box-shadow: inset 0.05em 0.05em 0.2em  #3F9388;
	        box-shadow: inset 0.05em 0.05em 0.2em  #3F9388;
}

.subscribe button:hover {
	opacity: 1;
}



/** *****************************************************/
/******  Some media queries */
/**  */
@media all and (max-width: 320px), (max-width: 320px) and (orientation: portrait) {
	.overlay .subscribe {
		width: 100%;
		background-color: red;
	}

	.subscribe input {
		width: 100%;
		margin-bottom: 0.5em;
	}

	.subscribe button {
		display: block;
		width: 100%;
	}
}

@media all and (max-width: 420px), (max-width: 420px) and (orientation: portrait) {
	.subscribe p {
		margin-bottom: 8em;
	}
}

@media all and (min-width: 520px), (min-width: 520px) and (orientation: landscape) {

	.overlay .subscribe {
		padding: 2% 2%;
		width: 100%;
	}
	.subscribe h1, .subscribe h3 {
		white-space:nowrap;
	}

	.subscribe h1, .subscribe h3, .subscribe p {
		max-width: 80%;
	}
	
	.subscribe input {
		width: 65%;
		margin-bottom: 0;
	}
	
	.subscribe button {
		display: inline-block;
		width: 28%;
		margin-bottom: 0;
	}

	.subscribe #exitIC {
		display: inline-block;
		position: absolute;
		top: -10%;
		right: 0;
		opacity: 0.6;
		font-size: 1.5em;
		-webkit-transform: scale(1);
		        -ms-transform: scale(1);
		    transform: scale(1);
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		        transition: all 0.3s ease-in-out;
	}

	.subscribe #exitIC:hover {
		-webkit-transform: scale(0.95);
		        -ms-transform: scale(0.95);
		    transform: scale(0.95);
		right: -1.25%;
	}
}

@media all and (min-width: 800px), (min-width: 800px) and (orientation: landscape) {
	.overlay .subscribe {
		padding: 2% 2%;
		width: 90%;
	}

	.subscribe h1, .subscribe h3, .subscribe p {
		max-width: 50%;
	}
}